#map-canvas{
  height: 800px;
  width: 100%;
  margin: 0;
}
ul
{
  list-style-type: none;
}
.view{
  width: 100%;
}


#search-bar{
  position: fixed;
  width: 10%;
  left: 5%;
  top: 3%;
  z-index: 1;
}

/* right menu */
#right-nav{
  position: fixed;
  right: 2.5%;
  height: 67.5%;
  width:20%;
  background-color: #0d192c;
  color: #f1b817;
  margin: 0;
  padding: 4%;
  z-index: 1;
}

.toggle-button{
  width: 25px;
  float: right;
  padding-top: 1%;
  border: none;
  background: none;
}
.toggle-button:focus{
      outline:none;
}

.lead-story{
  font-size: 18px;
  direction: rtl;

}
.user-info{
  border-right: 2px solid #f1b817;
  font-size: 12px;
  color: #FFFFFF;
  direction: rtl;
  margin-top: 5%;
  padding-right: 5%;
  margin-bottom: 25%;
}
.protest-story{
  direction: rtl;
  color: #FFFFFF;
  font-size: 12px;
}
.protest-icons{
}

/* Bottom bar info */
.fixed-bottom{
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: #f3f1f1;
  height: 27.57%;
}

/* Removing Google maps icons */
.gmnoprint{
  display: none !important;
}
