@font-face {
    font-family: shual;
    src: url(Shual-Regular.woff);
}

body{
  overflow-y:hidden;
  direction: rtl;
}

#map-canvas{
  height: 800px;
  width: 100%;
  margin: 0;
}

ul{
  list-style-type: none;
}

.view{
  width: 100%;
}

#search-bar{
  position: fixed;
  width: 10%;
  left: 5%;
  top: 3%;
  z-index: 1;
}

/* right menu */
.right-nav{
  position: fixed;
  right: 2.5%;
  height: 67.5%;
  width:19%;
  color: #f1b817;
  margin: 0;
  padding: 2%;
  z-index: 1;
}

#right-nav-lead{
  display: block;
  background-color: #0d192c;
}

#right-nav-story{
  display: none;
  background-color: #0d192c;
}

.toggle-button{
  width: 25px;
  float: right;
  padding-top: 1%;
  border: none;
  background: none;
}

.toggle-button:focus{
      outline:none;
}

.lead-story{
  font-size: 24px;
  font-family: shual;
}

.user-info{
  border-right: 2px solid #f1b817;
  font-size: 12px;
  margin-top: 5%;
  padding-right: 5%;
  margin-bottom: 10%;
  color: #FFFFFF;
}

.protest-story{
  color: #FFFFFF;
  font-size: 16px;
}

/* Bottom bar info */
.fixed-bottom{
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  //background-color: #f3f1f1;
  background-color: #ffffff;
  height: 27.57%;
}

/* Removing Google maps icons */
.gmnoprint{
  display: none !important;
}

#fixed-bottom-title{
  font-family: shual;
  font-size: 20px;
  margin-top: 8px;
  font-weight: bold;
}

 #graph-nav{
   bottom:-22%;
 }

 .lead-button{
   background-size: cover;
   width: 80%;
   position: absolute;
   padding: 3px;
   text-align: center;
   color: #0d192c;
   bottom: 14px;
   font-weight: bold;
   font-size: 19px;
   background: #ffffff;
   height: 32px;
   cursor: pointer;
   font-family: shual;
 }

 .story-button{
   background-size: cover;
   width: 80%;
   position: absolute;
   padding: 3px;
   text-align: center;
   color: #0d192c;
   bottom: 14px;
   font-weight: bold;
   font-size: 19px;
   background: #ffffff;
   height: 32px;
   cursor: pointer;
   font-family: shual;
 }

 .story-button:hover, .lead-button:hover{
   background: #E3E3E3;
}

.icons{
  margin: 0 auto;
  width: 185px;
  height: 40px;
}

 .icon{
   height: 30px;
   margin-right: 3px;
   margin-left: 3px;
   width: 40px;
   background-repeat: no-repeat;
   background-size: contain;
   float: right;
 }

.iconDesc{
  text-align: center;
  font-size: 8px;
  height: 30px;
  margin-right: 3px;
  margin-left: 3px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  color:#ffffff;
  float: right;
}

 .rentUp{
   background-image: url(../images/rentUp.svg);
 }

 .rentDown{
   background-image: url(../images/rentDown.svg);
 }

 .payUp{
   background-image: url(../images/payUp.svg);
 }

 .payDown{
   background-image: url(../images/payDown.svg);
 }

 .optimi{
   background-image: url(../images/optimi.svg);
 }

 .pasimi{
   background-image: url(../images/pasimi.svg);
 }

 .renew{
   background-image: url(../images/renew.svg);
 }

 .notRenew{
   background-image: url(../images/notRenew.svg);
 }

 .red{
   color:#FF0000;
 }

 .green{
   color:#02D308;
 }

.yellow{
  color:#FCD136;
}

.gm-style-iw + div {display: none;}

#campSelect{
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: 1;
}

#sankeyChart{
  transform: rotate(90deg);
  position: absolute;
  z-index: 1;
  top: -210px;
  right: 650px;
}
